<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Demo</display-name>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/servlet2</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>goolgesearch.html</welcome-file>
		<welcome-file>CookieTest.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ServletConfigtoGetAllIntilization</servlet-name>
		<servlet-class>ServletConfigtoGetAllIntilization</servlet-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>system</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>oracle</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConfigtoGetAllIntilization</servlet-name>
		<url-pattern>/servlet4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttributeSet</servlet-name>
		<servlet-class>AttributeSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttributeSet</servlet-name>
		<url-pattern>/servlet5</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttributeGet</servlet-name>
		<servlet-class>AttributeGet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttributeGet</servlet-name>
		<url-pattern>/servlet6</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CookieServlet1</servlet-name>
		<servlet-class>CookieServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookieServlet1</servlet-name>
		<url-pattern>/servlet7</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CookieServlet2</servlet-name>
		<servlet-class>CookieServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookieServlet2</servlet-name>
		<url-pattern>/servlet8</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HiddenFormFieldServlet1</servlet-name>
		<servlet-class>HiddenFormFieldServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HiddenFormFieldServlet1</servlet-name>
		<url-pattern>/HiddenFormFieldServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HiddenFormFieldServlet2</servlet-name>
		<servlet-class>HiddenFormFieldServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HiddenFormFieldServlet2</servlet-name>
		<url-pattern>/HiddenFormFieldServlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>URLRewriting1</servlet-name>
		<servlet-class>URLRewriting1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>URLRewriting1</servlet-name>
		<url-pattern>/URLRewriting1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>URLRewriting2</servlet-name>
		<servlet-class>URLRewriting2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>URLRewriting2</servlet-name>
		<url-pattern>/URLRewriting2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Session1</servlet-name>
		<servlet-class>Session1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Session1</servlet-name>
		<url-pattern>/Session1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Session2</servlet-name>
		<servlet-class>Session2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Session2</servlet-name>
		<url-pattern>/Session2</url-pattern>
	</servlet-mapping>
</web-app>